Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_03/elementen-03.png
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_03/index.html
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_03/styles_bak_01.css
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_03/styles.css
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_04_05/elementen-03.png
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_04_05/index.html
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_04_05/styles_bem.css
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_04_05/styles_sass.css
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_04_05/styles_sass.css.map
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_04_05/styles_sass.scss
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_04_05/styles.css
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_06/elementen-03.png
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_06/index.html
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_06/styles_bem.css
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_06/styles_sass.css
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_06/styles_sass.css.map
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_06/styles_sass.scss
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_06/styles.css
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_07/_constants.scss
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_07/elementen-03.png
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_07/index.html
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_07/styles_bem.css
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_07/styles_sass.css
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_07/styles_sass.css.map
Opdracht_18_SCSS_Met_SASS_een_project_opruimen/deel_07/styles_sass.scss
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_01-Testimonial/index.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_01-Testimonial/index2.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_01-Testimonial/index3.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_01-Testimonial/index4.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_01-Testimonial/styles.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_01-Testimonial/styles2.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_01-Testimonial/styles3.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_01-Testimonial/styles4.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_01-Testimonial/img/images_small_01.png
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_01-Testimonial/img/images_small_02.png
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_01-Testimonial/img/portrait_01_s.jpg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_01-Testimonial/img/portrait_04_s.jpg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_01-Testimonial/img/portrait_06_s.jpg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_01-Testimonial/img/portrait_07_s.jpg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_01-Testimonial/img/portrait_08_s.jpg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02-Portfolio_Grid/index.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02-Portfolio_Grid/styles.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02-Portfolio_Grid/img/portrait_01_s.jpg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02-Portfolio_Grid/img/portrait_02_s.jpg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02-Portfolio_Grid/img/portrait_03_s.jpg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02-Portfolio_Grid/img/portrait_04_s.jpg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02-Portfolio_Grid/img/portrait_05_s.jpg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_Grid/test.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_Grid/test.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos/new.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos/new.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos/portrait_01_s.jpg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos/portrait_07_s.jpg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos/test.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos/test.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/new.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/new.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/new1.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/new1.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/new2.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/new2.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/new3.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/new3.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/new4.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/new4.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/new5.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/new5.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/new6.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/new6.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/new7.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/new7.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/new8.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/new8.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/new9.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/new9.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/new91.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/portrait_01_s.jpg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v1/portrait_07_s.jpg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v2_flex/new_flex.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v2_flex/new_flex.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v2_flex/portrait_01_s.jpg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_02_Test_pos_v2_flex/portrait_07_s.jpg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/index.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/index1.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/index2.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/index3.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/index4.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/index5.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/index6.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/style_olddd.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/style.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/style1.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/style2.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/style3.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/style4.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/style5.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/style6.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/css/all.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/css/all.min.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/css/brands.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/css/brands.min.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/css/fontawesome.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/css/fontawesome.min.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/css/regular.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/css/regular.min.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/css/solid.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/css/solid.min.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/css/svg-with-js.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/css/svg-with-js.min.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/css/v4-shims.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/css/v4-shims.min.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/img/facebook-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/img/facebook-f-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/img/facebook-square-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/img/github-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/img/github-square-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/img/laptop-code-solid_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/img/linkedin-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/img/linkedin-in-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/img/twitter-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/test/index.html
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/test/style.css
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/test/img/facebook-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/test/img/facebook-f-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/test/img/facebook-square-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/test/img/github-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/test/img/github-square-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/test/img/laptop-code-solid_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/test/img/linkedin-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/test/img/linkedin-in-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Deel_03-Social_Media/test/img/twitter-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Final/index.html
Opdracht_19_Eindopdracht_Advanced_CSS/Final/img/facebook-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Final/img/facebook-f-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Final/img/facebook-square-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Final/img/github-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Final/img/github-square-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Final/img/images_small_01.png
Opdracht_19_Eindopdracht_Advanced_CSS/Final/img/images_small_02.png
Opdracht_19_Eindopdracht_Advanced_CSS/Final/img/laptop-code-solid_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Final/img/linkedin-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Final/img/linkedin-in-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Final/img/portrait_01_s.jpg
Opdracht_19_Eindopdracht_Advanced_CSS/Final/img/portrait_04_s.jpg
Opdracht_19_Eindopdracht_Advanced_CSS/Final/img/portrait_06_s.jpg
Opdracht_19_Eindopdracht_Advanced_CSS/Final/img/portrait_07_s.jpg
Opdracht_19_Eindopdracht_Advanced_CSS/Final/img/portrait_08_s.jpg
Opdracht_19_Eindopdracht_Advanced_CSS/Final/img/twitter-brands_white.svg
Opdracht_19_Eindopdracht_Advanced_CSS/Final/styles/_portfolio.scss
Opdracht_19_Eindopdracht_Advanced_CSS/Final/styles/_sidenav.scss
Opdracht_19_Eindopdracht_Advanced_CSS/Final/styles/_testimonial.scss
Opdracht_19_Eindopdracht_Advanced_CSS/Final/styles/style.css
Opdracht_19_Eindopdracht_Advanced_CSS/Final/styles/style.css.map
Opdracht_19_Eindopdracht_Advanced_CSS/Final/styles/style.scss
Shawn_Chin-Hackathon/css/styles_con.css
