
html{
    margin-top: 20px;

}

body {   
    background-color: rgb(241, 241, 241);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    font-size: 15px;
    padding-left: 3px;
    padding-right: 3px;
}

nav ul {
    margin-bottom: 10px;
    padding: 0;
    /*border: 2px solid salmon;*/
}

nav ul li{
    display: inline-block;
    /*font-family: 'Alata';*/
    font-size: 21px;
}

h1 {
    font-family: Merriweather, serif;
    font-size: 50px;
    color:rgb(119, 119, 119);
}

h2 {
    font-family: Merriweather, serif;
    font-size: 30px;
    color:rgb(71, 71, 71); 
}

h3 {
    font-family: Merriweather, serif;
    font-size: 30px;
    color:indianred;
}

h4 {
    font-family: Merriweather, serif;
    font-size: 22px;
    color:indianred;
}

img {
    width: 100%;
  }

.img-smaller {
 padding-right: 20px;
}

.img-rond {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 80%;
    border: 2px solid black
}

.img-rond:hover {
    border: 2px dotted rgb(13, 148, 96);
}

.over-flow{
    overflow: hidden;
}


.nav-container{
    font-size: 25px;
    text-align: center;
}

.achtergrond{
    padding-top: 10px;
    padding-bottom: 20px;
    background-color:rgb(255, 255, 255);
}

.margin1{
    padding-left: 20px;
}

.margin2{
    padding-left: 20px;
    margin-top: -10px;
}

.margin3{
    padding-left: 10px;
    margin-right: 10px;
}

.nav-listitem {  
    padding-left: 5px;
    padding-right: 5px;
 }

 .nav-link {
    text-decoration: none;
    color: rgb(13, 148, 96);
    font-weight: 600;
    font-size: 1 rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav-link:hover {
    color: #208ece;
}

.alle_teksten_small {     
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: oblique;
    color: #000000;
    line-height: 1.25em;
    word-spacing: 0.5em;
}

.alle_teksten_ob {     
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    font-style: oblique;
    color: #000000;
    line-height: 1.25em;
    word-spacing: 0.2em;
    word-wrap: break-word;
}

.alle_teksten_norm {     
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    color: #000000;
    line-height: 1.25em;
    word-spacing: 0.15em;
    word-wrap: break-word;
}

.footer{
    background-color:rgb(66, 128, 104);
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 40px;
    padding-top: 2%;
    margin-top: 200px;
    }


/* FLEXBOX */

.flex-container{
  display: flex;
  /*border: 1px dashed orange;*/
  flex-direction: column;
  text-align: center;
}

.box-1{
flex: 1;
min-width: 225px;
}

.box-2{
flex: 1;
min-width: 225px;

}

.box-3{ 
 flex: 1;
 min-width: 225px;
}




/* STYLING TABLET */

@media (min-width: 400px) and (max-width: 1280px){

    body{
        background-color: #000000;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    nav ul li {
        font-size: 23px;
        padding-left: 20px;
    }

    h2{
    font-size: 30px;
    }

    h3{
        color: rgb(255, 174, 0);
    }

    h4{
        color: rgb(255, 174, 0);
        font-size: 23px;
        letter-spacing: 0.05em;
    }
    
    .alle_teksten_small,
    .alle_teksten_ob,
    .alle_teksten_norm{
        color: rgb(219, 219, 219);
    }

    .alle_teksten_ob,
    .alle_teksten_norm{
        font-size: 23px;
    }

    .nav-link {
    color: rgb(173, 173, 173);
    }

    .nav-container{
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }

    .achtergrond{
        background-color: rgb(0, 0, 0);
        /*border: 1px solid grey;*/
        border: 1px dashed orange;
    }


    .flex-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
    }

    .img-rond:hover {
        border: 2px dotted  white;
    }
    
}


@media screen and (min-width: 1280px) {

    body{
        padding-left: 20px;
        padding-right: 20px;
    }

    nav ul li {
        font-size: 25px;
        padding-left: 20px;
    }

    h2{
        font-size: 30px;
        }

    .nav-container{
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }

    .flex-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
    }

    .alle_teksten_ob,
    .alle_teksten_norm{
        font-size: 23px;
    }

}