
@import url("https://fonts.googleapis.com/css?family=Oswald:700");

body     {
  padding-top: 200px;
  height: 1000px;
  background:#231F20;
  text-align:center;
}

h1         {
  color:#FFF;
  font-family:'Oswald';
  font-weight:700;
  position:relative;  
  margin:30px auto;
  text-transform:uppercase;
  width:550px;
}

/*selector voor het linker halve cirkeltje, selector voor het rechter halve cirkeltje {
// gezamelijke eigenschappen van de halve cirkels: 
// - het is Winc blauw ... background:#4A90E2;
// - content is empty string 
// - display... block? Inline-block?
// - aantal px hoog 
// - aantal px breed 
// - absolute positie 
}*/

/*
selector voor het linker halve cirkeltje {  
// border radius, generator: <https://cssboxshadow.com/border-radius/> 
// Positioneer je halve rondje met left en top
}

selector voor het rechter halve cirkeltje {  
// border radius, generator: <https://cssboxshadow.com/border-radius/> 
// Positioneer je halve rondje met left en top 
}
*/

h1::before {
    content: '';
    height: 23px;
    width: 21px;
    display: inline-block;
    background:#4A90E2;
    border-radius: 20px 0px 0px 20px;  
    margin-right: 10px ;
}


h1::after {
    content: '';
    height: 23px;
    width: 21px;
    display: inline-block;
    background:#4A90E2;
    border-radius: 0px 20px 20px 0px;;
    margin-left: 10px ;
    position: absolute 0;
}

