
html{
    margin-top: 20px;
}

main {
    /*border: 1px solid black;*/
    padding: 0px;
}

body {   
    /*background-color: rgb(236, 227, 226);*/
    background-color: rgb(241, 241, 241);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    
}

nav ul li{
    display: inline-block;
    font-family: 'Alata';
    /*border: 1px dotted;*/
}

h1 {
    font-family: Merriweather, serif;
    font-size: 50px;
    font: bold;
    color:rgb(119, 119, 119);
}

h2 {
    font-family: Merriweather, serif;
    font-size: 30px;
    /*color:indianred; */
    color:rgb(71, 71, 71); 
}

h3 {
    font-family: Merriweather, serif;
    font-size: 25px;
    color:indianred;
}



img {
    width: 100%;
  }

.img-smaller {
 
 padding-right: 20px;
}

.img-rond {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 80%;
    border: 2px dotted black
}

.img-rond:hover {
    border: 2px solid red;
}

.nav-container{
    /*border: 2px dotted black;*/
    font-size: 25px;
    padding-right: 10%;
}

.achtergrond{
    padding-top: 10px;
    padding-bottom: 20px;
    background-color:rgb(255, 255, 255);
}

.margin1{
    padding-left: 20px;
}

.margin2{
    padding-left: 20px;
    margin-top: -10px;
}

.nav-listitem {  
    padding-left: 5px;
    padding-right: 5px;
 }

 .nav-link {
    text-decoration: none;
    color: rgb(13, 148, 96);
    font-weight: 600;
    font-size: 1 rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav-link:hover {
    color: #ce3a20;
}

.alle_teksten_small {     
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: oblique;
    color: #000000;
    line-height: 1.25em;
    word-spacing: 0.5em;
}


.alle_teksten_ob {     
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-style: oblique;
    color: #000000;
    line-height: 1.25em;
    word-spacing: 0.5em;
}

.alle_teksten_norm {     
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: #000000;
    line-height: 1.25em;
    word-spacing: 0.2em;
}

/*CSS GRID CONTAINER*/

.container {
    background-color: white;    
    margin-top: 0px;
    width: 100%;
        
    display: grid;
    grid-gap: 5px;

    grid-template-columns: 20px 1fr 1fr 1fr 20px;
    grid-template-rows: auto 40px auto;
    
    grid-template-areas: 
    ". test1a test2a test3a ."
    ". test1b test2b test3b ."
    ". test1c test2c test3c .";
    
    text-align: center;
}

.container-text{
    color: white;
    font-size: 15px;
    font-weight: 600;   
}

    .container-section1a{
        background-color:white;
        grid-area: test1a;
        margin-top: 5px;
    }

    .container-section1b{
        background-color: black; 
        grid-area: test1b;
        margin-top: 20px;
    }

    .container-section1c{
        background-color:white; 
        grid-area: test1c;
        margin-top: 20px;
    }

    .container-section2a{
        background-color:white;
        grid-area: test2a;
        margin-top: 5px;
    }

    .container-section2b{
        background-color: black; 
        grid-area: test2b;
        margin-top: 20px;
    }

    .container-section2c{
        background-color:white;
        grid-area: test2c;
        margin-top: 20px;
    }

    .container-section3a{
        background-color:white;
        grid-area: test3a;
        margin-top: 5px;
    }

    .container-section3b{
        background-color: black; 
        grid-area: test3b;
        margin-top: 20px;
    }

    .container-section3c{
        background-color: white; 
        grid-area: test3c;
        margin-top: 20px;
    }


.footer{
background-color:rgb(66, 128, 104);
margin: 0 auto;
text-align: center;
width: 100%;
height: 40px;
padding-top: 2%;
margin-top: 200px;

}

/* STYLING MOBIEL */
@media (min-width: 600px) {
    
    nav ul li {
        /*font-size: 175%;*/
        font-size: 20px;
    }

    .alle_teksten_ob,
    .alle_teksten_norm{
        /*font-size: 175%;*/
        font-size: 20px;
    }

    .nav-container{
        text-align: right;
        /*padding-right: 3%;*/
    }

}

